/* Importing Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200&display=swap");

/* Importing component files */
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/container.css");
@import url("components/card.css");


/* General style rules for fonts and colors */

body{
  font-family: 'Noto Serif KR', serif;
  font-size: 18px;
  margin: 0px;
  background-color: rgb(236,236,240);
}

h1, h2, h3{
  font-family: helvetica;
  font-weight: bold;
}

h2{
  margin-top: -15px;
}

h3{
  font-size: 18px;
  opacity: 0.6;
}

a{
  text-decoration: none;
  color: white;
  transition: 0.3s ease;
}

a:hover{
  color: aliceblue;
}

html{
  scroll-behavior: smooth;
}