.container{
	width: 900px;
	margin: 0 auto;
	padding: 80px 0;
}


/* Responsive Design */

@media(max-width: 920px){
	.container{
		width: 650px;
	}
}

@media(max-width: 670px){
	.container{
		width: 400px;
	}
}